/* src/components/Features.css */
.features {
    text-align: center;
    padding: 50px 20px;
    background-color: white; /* Assuming a dark background */
    color: #fff;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: black;
    font-family: 'Aldrich', 'sans-serif';
  }
  
  .features .features-grid {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; /* Allow images to wrap to the next line on smaller screens */
    gap: 0px; /* Space between images */
  }
  
  .features .features-grid img {
    max-width: 16.6666666667%; /* Adjust image size as needed */
    height: auto;
  }
  
  /* Responsive adjustments */
@media (max-width: 768px) {
    .features .features-grid {
      flex-wrap: wrap; /* Allow wrapping on smaller screens */
    }
  
    .features .features-grid img {
      max-width: 50%; /* 2 images per row on smaller screens */
    }
  }