.features {
    text-align: center;
    padding: 50px 20px;
    background-color: white; 
    color: #fff;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: black;
    font-family: 'Aldrich', 'sans-serif';
  }
  
  .features .features-grid {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap; 
    gap: 0px; 
  }
  
  .features .features-grid img {
    max-width: 16.6666666667%; 
    height: auto;
  }
  
  
@media (max-width: 768px) {
    .features .features-grid {
      flex-wrap: wrap;
    }
  
    .features .features-grid img {
      max-width: 50%; 
    }
  }